<div class="container mt-2">
  <legend>Create</legend>
  <form>
    <div class="mb-3">
      <label for="txtTenLop" class="form-label">Tên lớp</label>
      <input
        type="text"
        class="form-control"
        id="tenLop"
        aria-describedby="emailHelp"
        name="tenLop"
        [(ngModel)]="lop.tenLop"
      />
    </div>
    <div class="mb-3">
      <label for="txtMaKhoa" class="form-label">Mã khoa</label>
      <input
        type="text"
        class="form-control"
        id="maKhoa"
        aria-describedby="emailHelp"
        name="maKhoa"
        [(ngModel)]="lop.maKhoa"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="create()">Create</button>
  </form>
</div>
